{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated and not user.is_staff %}
    <h4>Bienvenido: {{ user }}</h4>
    {% if enrolled %}
        <p>Clases inscritas:</p>
        {% for inde in independiente %}
        <p><strong>Curso Independiente: </strong>{{inde.weeks}}, {{ inde.classes }} clase{% if not inde.classes == '1' %}s{% endif %}</p>
        {% endfor %}
        {% for ele in elemental %}
        <p><strong>P. Elemental: </strong>{{ele.level}}, {{ ele.weeks }}</p>
        {% endfor %}
        {% for inten in intensivo %}
        <p><strong>P. Intensivo: </strong>{{inten.level}}, {{ inten.weeks }}{% if inten.turn %}, {{ inten.turn }}{% endif %}</p>
        {% endfor %}
        {% for inter in interdisciplinario %}
        <p><strong>P. interdisciplinario: </strong>{{ inter.weeks }}</p>
        {% endfor %}
        {% for class in talleres_guitarra %}
        <p><strong>Taller de guitarra:</strong> {{ class.id_class }}</p>
        {% endfor %}
        {% for obs in observadores %}
        <p><strong>Observador:</strong> {{ obs.id_class }}</p>
        {% endfor %}
        <p><a href="{% url 'class_add' %}">Inscribir a un curso</a></p>
    {% else %}
        <p>Para comenzar, por favor llena tus datos de identificación haciendo clic <a href="{% url 'profileform' %}">aquí.</a></p>
    {% endif %}
    {% else %}
        <p>Por favor inicia sesión para continuar</p>
    {% endif %}
{% endblock %}