{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated and not user.is_staff %}
    <h4>Bienvenido: {{ user }}</h4>
    {% if enrolled %}
        <p>Clases inscritas:</p>
        {% for class in talleres_guitarra %}
        <p><strong>Taller de guitarra:</strong> {{ class.id_class }}</p>
        {% endfor %}
        <p><a href="{% url 'class_add' %}">Inscribir a un curso</a></p>
    {% else %}
        <p>Para comenzar, por favor llena tus datos de identificación haciendo clic <a href="{% url 'profileform' %}">aquí.</a></p>
    {% endif %}
    {% else %}
        <p>Por favor inicia sesión para continuar</p>
    {% endif %}
{% endblock %}