{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated and not user.is_staff %}
    <h4>Selecciona tu taller</h4>
    {% if enrolled %}
        <form method="post" novalidate id="TallerGuitarraForm">
          {% csrf_token %}
          <table>
            {{ form.as_table }}
          </table>
          <input type="submit" onclick="return confirm('¿Deseas confirmar tu inscripción?')" value="Guardar"/>
          <a href="{% url 'userprofile' %}">Regresar</a>
        </form>
    {% else %}
        <p>Parece que no has ingresado tus datos aún. Haz clic <a href="{% url 'profileform' %}">aquí</a> para
        llenarlos</p>
    {% endif %}
    {% else %}
        <p>Por favor inicia sesión para continuar</p>
    {% endif %}
{% endblock %}