{% extends 'base.html' %}

{% block content %}
  <h2>Inscripción a curso</h2>
      {% if user.is_authenticated and not user.is_staff %}
        <form method="post" novalidate id="ClassEnrolledForm"
              data-levels-url="{% url 'ajax_load_levels' %}"
              data-classes-url="{% url 'ajax_load_classes' %}">
          {% csrf_token %}
          <table>
            {{ form.as_table }}
          </table>
          <button type="submit">Guardar</button>
          <a href="{% url 'userprofile' %}">Regresar</a>
        </form>
    {% else %}
        <p>Por favor inicia sesión para continuar</p>
    {% endif %}

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
    $("#id_id_program").change(function () {
      var url = $("#ClassEnrolledForm").attr("data-levels-url");
      var programId = $(this).val();
      $.ajax({
        url: url,
        data: {
          'id_program': programId
        },
        success: function (data) {
          $("#id_id_level").html(data);
        }
      });
    });

    $("#id_id_level").change(function () {
      var url = $("#ClassEnrolledForm").attr("data-classes-url");
      var levelId = $(this).val();
      $.ajax({
        url: url,
        data: {
          'id_level': levelId
        },
        success: function (data) {
          $("#id_id_class").html(data);
        }
      });
    });
  </script>
{% endblock %}